@using ChushkaWebApp.Data.Models
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    if (User.IsInRole("Admin"))
     {
         <li class="nav-item">
             <a href="/Products/Create" class="nav-link nav-link-white" >Create Product</a>
         </li>
         <li class="nav-item">
             <a href="/Orders/Index" class="nav-link nav-link-white">All Orders</a>
         </li>
     }
    <form asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Logout</button>
            </li>
        </ul>
    </form>

}
else
{
    <ul class="nav navbar-nav ">
        <li><a href="/Account/Register" class="nav-link nav-link-white">Register</a></li>
        <li><a href="/Account/Login" class="nav-link nav-link-white">Login</a></li>
    </ul>
}