@model EventWebApp.Models.Events.EventViewModel

<h1 class="text-center">Delete Product</h1>
<hr class="bg-secondary hr-2" />
<form class="mx-auto w-50" method="post" asp-controller="Events" asp-action="Delete">
   
    <hr class="bg-secondary hr-2 half-width" />
    <div class="button-holder d-flex justify-content-center">
        <button type="submit" class="btn chushka-bg-color mr-5">Delete</button>
        <button onclick="window.history.back()" class="btn chushka-bg-color ml-5">Cancel</button>
    </div>
</form>
