@model EventWebApp.Models.Account.LoginViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h1 class="text-center">Login</h1>
<hr class="bg-secondary w-50" />
<form class="mx-auto w-50" asp-controller="Account" asp-action="Login">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Username"></label>
        <input asp-for="Username" type="text" class="form-control" placeholder="Username..." name="username">
        <span asp-validation-for="Username"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" class="form-control" placeholder="Password..." name="password">
        <span asp-validation-for="Password"></span>
    </div>
    <hr class="bg-secondary w-50" />
    <input type="checkbox" value="Remember me"/>
    <hr class="bg-secondary w-50" />
    <div class="button-holder d-flex justify-content-center">
        <button type="submit" class="btn chushka-bg-color">Login</button>
    </div>
    <div>
        <a href="#">Forgot your password?</a>
        <a href="#">Register as a new user</a>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

