@using ChushkaWebApp.Data.Models
@using Microsoft.AspNetCore.Identity
@model ChushkaWebApp.Models.Products.ProductsListViewModel

@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <div class="container-fluid text-center">
        @if (User.IsInRole("Admin"))
        {
        <h2>Greetings, @User.Identity.Name !</h2>
        <h4>Enjoy your work today.</h4>
        }
        else
        {
        <h2>Greetings,  @User.Identity.Name !</h2>
        <h4>Feel free to view and order any of our products.</h4>
        }
    </div>
    <hr class="hr-2 bg-dark" />
   <partial name="_ProductsListPartial" model="Model" />
}
else
{
    <div class="jumbotron mt-3 chushka-bg-color">
        <h1>Welcome to Chushka Universal Web Shop</h1>
        <hr class="bg-white" />
        <h3><a class="nav-link-dark" href="/Account/Login">Login</a> if you have an account.</h3>
        <h3><a class="nav-link-dark" href="/Account/Register">Register</a> if you don't.</h3>
    </div>
}
